.Movie-rate {
  text-align: start;
  color: yellow;
  text-decoration: underline;
}

body {
  background: black;
  height: 100px;
}

.Movie-genres {
  text-align: start;
}

.Icon-star {
  margin-right: 5px;
  margin-bottom: 4px;
}
